<% include("header", {}) %>


<div class="container">
    <h1>Chat</h1>
    <div id="chat">
        <div id="chat-messages">
            <ul id="messages">
                <!-- <li> -->
                <!--     <span class="username">Username</span> -->
                <!--     <span class="message">Message</span> -->
                <!-- </li> -->
            </ul>
        </div>
        <form id="chat-form">
            <input type="text" id="message" placeholder="Message">
            <button type="submit">Send</button>
        </form>
    </div>
</div>

<% include("footer", {}) %>